In [1]:
import arff
name='training_subsetD.arff'
#name='testingD.arff'
file=open(name)
dataset = arff.load(file)
attributes_list = dataset.get("attributes",[])
data=dataset.get("data")

attribute_vector=[]

#attribute_info is in the form of (ATTRIBUTE NAME,[POSSIBLE Categories under this ATTRIBUTE])
for idx, attribute_info in enumerate(attributes_list):
#print(attribute_info)
    attribute_vector+=[attribute_info[0]]

num_attributes=len(attribute_vector)

print("Last Column is the prediction(Ground Truth), attribute name is= ", attribute_vector[274])
print("Possible Values for this attribute: ",attributes_list[274][1])
print(num_attributes)

#Exploring the 265th data attribute
print(attributes_list[265][0],attributes_list[265][1])

#Exploring the last attribute which is the ground truth class -- True/False
print(attributes_list[274][0],attributes_list[274][1])

Last Column is the prediction(Ground Truth), attribute name is=  Class
Possible Values for this attribute:  ['True', 'False']
275
Session Last Request Hour Of Day ["'(-inf-6.5]'", "'(6.5-10.5]'", "'(10.5-14.5]'", "'(14.5-18.5]'", "'(18.5-inf)'"]
Class ['True', 'False']

In [2]:
name='testingD.arff'
file=open(name)
dataset = arff.load(file)
data2=dataset.get("data")

In [3]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn import metrics
%matplotlib inline
from matplotlib import pyplot as plt

Converting arff file to csv file named training_set and testing_set

In [84]:
df=pd.DataFrame(data)
col=[int(x) for x in range(1,276)]
col_type=attribute_vector
df.columns=col
df.to_csv('training_set.csv')

In [83]:
df=pd.DataFrame(data2)
col=[int(x) for x in range(1,276)]
df.columns=col
df.to_csv('testing_set.csv')

converting all misssing values to NAN and reading the dataSet

In [4]:
missing_values = ["NAN", "None", "NULL","?","??","nan",""]

In [10]:
df=pd.read_csv("training_set.csv",na_values = missing_values)
df2=pd.read_csv("testing_set.csv",na_values = missing_values)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,84,246,254) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Drop those attribute which have more than 50% missing value or noisy data

In [11]:
#df['1'].isna() is used to check na_values

In [12]:
for i in range(1,276):
    if df[str(i)].isna().sum()>=(len(df)//2):
        df=df.drop([str(i)], axis=1)
        df2=df2.drop([str(i)], axis=1)

now we have left with 139 attributes only (first column is for sequencing purpose)

In [13]:
length=len(df.count())
length-1

139

In [14]:
df.head(2)

,Unnamed: 0,82,83,85,86,87,88,89,90,91,...,265,266,267,269,270,271,272,273,274,275
0,0,'(-inf-187131.5]','(-inf-82045]','(-inf-1.5]','(179.5-inf)','(1351-1391]',Sunday,'(-inf-6.5]','(2.5-3.5]','(-inf-0.5]',...,/Content/templates/main,'(-inf-6.5]','(107.5-263.5]',Internet Explorer,Internet Explorer,main/home_jhtml,Other,Other,(5 ___ 9],False
1,1,'(-inf-187131.5]','(-inf-82045]','(1.5-2.5]','(179.5-inf)','(1351-1391]',Sunday,'(10.5-14.5]','(6.5-inf)','(2.5-3.5]',...,/Content/templates/products,'(10.5-14.5]','(263.5-inf)',Internet Explorer,Internet Explorer,main/home_jhtml,products/productDetailLegwear_jhtml,Other,(9 ___ 12],True

Encoding all non_numeric/object into numeric value

In [15]:
#df['1'].astype(str) is used to convert mixed type attribute_values to string type attribute

In [16]:
for i in range(1,length):
    df[df.columns[i]]=LabelEncoder().fit_transform(df[df.columns[i]].astype(str))
    df2[df2.columns[i]]=LabelEncoder().fit_transform(df2[df2.columns[i]].astype(str))

In [17]:
#training data 
df.head(2)

,Unnamed: 0,82,83,85,86,87,88,89,90,91,...,265,266,267,269,270,271,272,273,274,275
0,0,0,0,0,1,2,3,0,2,0,...,5,0,2,6,1,3,0,0,4,0
1,1,0,0,1,1,2,3,1,4,3,...,6,1,3,6,1,3,5,0,5,1

In [18]:
#testing data
df2.head(2)

,Unnamed: 0,82,83,85,86,87,88,89,90,91,...,265,266,267,269,270,271,272,273,274,275
0,0,4,0,0,1,3,0,3,1,1,...,5,3,1,0,0,2,5,0,3,1
1,1,4,0,0,4,1,0,3,4,0,...,4,0,4,4,1,3,4,3,3,0

In [19]:
#x_train, x_test, y_train, y_test = train_test_split(df.drop(['275'],axis=1),df['275'],test_size = 0.2,random_state = 100)

Decision Tree

In [20]:
x,y=df.drop(['275'],axis=1),df['275']

In [21]:
pca=PCA(n_components=2)
x=pca.fit_transform(x)

In [22]:
dt=DecisionTreeClassifier(max_depth=7)
dt.fit(x,y)
y1_out=list(dt.predict(x))
s=dt.score(x,y)*100
print(f"Accuracy with Decision Tree: {s}")

Accuracy with Decision Tree: 80.89

K-NEAREST NEIGHBOR

In [23]:
knn=KNeighborsClassifier(n_neighbors=2)
knn.fit(x,y)
y2_out=list(knn.predict(x))

In [24]:
precision=metrics.accuracy_score(y2_out,y)*100
print(f"Accuracy with K-NN: {precision}")

Accuracy with K-NN: 85.135

Naive Bayes

In [25]:
nb=GaussianNB()
nb.fit(x,y)
y3_out=list(nb.predict(x))

In [26]:
precision=metrics.accuracy_score(y3_out,y)*100
print(f"Accuracy with Naive Bayes: {precision}")

Accuracy with Naive Bayes: 80.4825

In [27]:
result=pd.DataFrame([y1_out,y2_out,y3_out])
result=result.transpose()
result.columns=['y1','y2','y3']

In [ ]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(x,y)
h = 0.02

x_min, x_max = x[:,0].min() - 10*h, x[:,0].max() + 10*h
y_min, y_max = x[:,1].min() - 10*h, x[:,1].max() + 10*h
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),np.arange(y_min, y_max, h))
Z = neigh.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

plt.figure(figsize=(10,10))
plt.contourf(xx, yy, Z, cmap='BrBG', alpha=0.75)
plt.contour(xx, yy, Z, colors='green', linewidths=0.7)
plt.scatter(x[:,0], x[:,1], c=y, alpha=1, s=15);
plt.show()


dt=DecisionTreeClassifier(max_depth=7)
dt.fit(x,y)
h = 0.02

x_min, x_max = x[:,0].min() - 10*h, x[:,0].max() + 10*h
y_min, y_max = x[:,1].min() - 10*h, x[:,1].max() + 10*h
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),np.arange(y_min, y_max, h))
Z = dt.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

plt.figure(figsize=(10,10))
plt.contourf(xx, yy, Z, cmap='BrBG', alpha=0.75)
plt.contour(xx, yy, Z, colors='green', linewidths=0.7)
plt.scatter(x[:,0], x[:,1], c=y, alpha=1, s=15);
plt.show()

nb=GaussianNB()
nb.fit(x,y)
h = 0.02

x_min, x_max = x[:,0].min() - 10*h, x[:,0].max() + 10*h
y_min, y_max = x[:,1].min() - 10*h, x[:,1].max() + 10*h
xx, yy = np.meshgrid(np.arange(x_min, x_max, h),np.arange(y_min, y_max, h))
Z = nb.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

plt.figure(figsize=(10,10))
plt.contourf(xx, yy, Z, cmap='BrBG', alpha=0.75)
plt.contour(xx, yy, Z, colors='green', linewidths=0.7)
plt.scatter(x[:,0], x[:,1], c=y, alpha=1, s=15);
plt.show()